.recipe-error {
  color: #712024;
}

.recipe-error i {
  font-size: 10em;
}

// Graph styles
svg {
  outline: 1px solid rgba(255, 255, 255, 0);
  // width: 100%;
  // height: 100%;
}

.node rect,
.node circle,
.node ellipse {
  fill: rgba(255, 255, 255, 0)
}

.edgePath path {
  stroke: #333;
  // fill: #333;
  stroke-width: 1.5px;
}
