{%WEB_HOST_NAME%}:{%WEB_HOST_PORT%} {
    # Uncomment the following to enable logging; requires a mounted volume.
    # log logs/access.log

    tls {%WEB_HOST_TLS%}  # Use `self_signed` to enable self_signed tls, or `off` to disable tls.  TLS not needed for OpenShift.

    # enable gzip compression
    gzip

    root /srv/

    # Openly exposed health check endpoint for OpenShift
    status 200 /health

    # redir 302 {
    #     if {path} is /
    #     / /demo/start
    # }

    rewrite {
        r ^/bcreg/assets/(.*)$
        to /assets/{1}
    }

    rewrite {
        r ^/demo/?$
        to /
    }

    # rewrite {
    #     r ^/demo/start/?$
    #     to /assets/html/demo-start.html
    # }

    proxy /bc-tob {%TOB_API_URL%} {
        without /bc-tob
    }

    proxy /bcreg {%BCREG_AGENT_HOST%}:{%BCREG_AGENT_PORT%} {
        except /assets
        # health_check /health  # return 502 bad gateway if not synced
        transparent
    }

    proxy /finance {%MINISTRY_FINANCE_AGENT_HOST%}:{%MINISTRY_FINANCE_AGENT_PORT%} {
        except /assets
        # health_check /health  # return 502 bad gateway if not synced
        transparent
    }

    proxy /surrey {%CITY_SURREY_AGENT_HOST%}:{%CITY_SURREY_AGENT_PORT%} {
        except /assets
        # health_check /health  # return 502 bad gateway if not synced
        transparent
    }

    proxy /fraser-valley {%FRASER_VALLEY_AGENT_HOST%}:{%FRASER_VALLEY_AGENT_PORT%} {
        except /assets
        # health_check /health  # return 502 bad gateway if not synced
        transparent
    }

    proxy /liquor {%LIQUOR_CONTROL_AGENT_HOST%}:{%LIQUOR_CONTROL_AGENT_PORT%} {
        except /assets
        # health_check /health  # return 502 bad gateway if not synced
        transparent
    }

    proxy /worksafe {%WORKSAFE_AGENT_HOST%}:{%WORKSAFE_AGENT_PORT%} {
        except /assets
        # health_check /health  # return 502 bad gateway if not synced
        transparent
    }
}

{%WEB_HOST_NAME%}:{%WEB_HOST_PORT%}/topic {
    redir 302 {
        / {%TOB_APP_URL%}/en/topic/_{rewrite_path}
    }
}
