{%WEB_HOST_NAME%}:{%WEB_HOST_PORT%} {
    # Uncomment the following to enable logging;
    log stdout
    errors stdout

    tls {%WEB_HOST_TLS%}  # Use `self_signed` to enable self_signed tls, or `off` to disable tls.  TLS not needed for OpenShift.

    # enable gzip compression
    gzip

    root /srv/

    # Openly exposed health check endpoint for OpenShift
    status 200 /health

    rewrite {
        r ^/bcreg/assets/(.*)$
        to /assets/{1}
    }

    rewrite {
        # required for Angular router to work properly
        r ^/(demo|about|home)/?$
        to /
    }

    proxy /bc-tob {%TOB_API_URL%} {
        without /bc-tob
    }

    proxy /bcreg/health {%BCREG_AGENT_HOST%}:{%BCREG_AGENT_PORT%} {
        without /bcreg
    }

    proxy /bcreg {%BCREG_AGENT_HOST%}:{%BCREG_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }

    proxy /finance/health {%MINISTRY_FINANCE_AGENT_HOST%}:{%MINISTRY_FINANCE_AGENT_PORT%} {
        without /finance
    }

    proxy /finance {%MINISTRY_FINANCE_AGENT_HOST%}:{%MINISTRY_FINANCE_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }

    proxy /surrey/health {%CITY_SURREY_AGENT_HOST%}:{%CITY_SURREY_AGENT_PORT%} {
        without /surrey
    }

    proxy /surrey {%CITY_SURREY_AGENT_HOST%}:{%CITY_SURREY_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }

    proxy /fraser-valley/health {%FRASER_VALLEY_AGENT_HOST%}:{%FRASER_VALLEY_AGENT_PORT%} {
        without /fraser-valley
    }

    proxy /fraser-valley {%FRASER_VALLEY_AGENT_HOST%}:{%FRASER_VALLEY_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }

    proxy /liquor/health {%LIQUOR_CONTROL_AGENT_HOST%}:{%LIQUOR_CONTROL_AGENT_PORT%} {
        without /liquor
    }

    proxy /liquor {%LIQUOR_CONTROL_AGENT_HOST%}:{%LIQUOR_CONTROL_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }

    proxy /worksafe/health {%WORKSAFE_AGENT_HOST%}:{%WORKSAFE_AGENT_PORT%} {
        without /worksafe
    }

    proxy /worksafe {%WORKSAFE_AGENT_HOST%}:{%WORKSAFE_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }

    proxy /agri/health {%MINISTRY_AGRICULTURE_AGENT_HOST%}:{%MINISTRY_AGRICULTURE_AGENT_PORT%} {
        without /agri
    }

    proxy /agri {%MINISTRY_AGRICULTURE_AGENT_HOST%}:{%MINISTRY_AGRICULTURE_AGENT_PORT%} {
        except /assets
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }
}

{%WEB_HOST_NAME%}:{%WEB_HOST_PORT%}/topic {
    redir 302 {
        / {%TOB_APP_URL%}/en/topic/_{rewrite_path}
    }
}
