{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% for include in js_includes %}
        <script src="{% static include.src %}"></script>
    {% endfor %}
    <link rel="stylesheet" href="{% static "css/mygovbc-bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bcgov.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% for include in css_includes %}
        <link rel="stylesheet" href="{% static include.src %}"></script>
    {% endfor %}
</head>
<body>
    <header>
      <div class="container">
        <a href="http://www2.gov.bc.ca/" tabindex="-1">
          <img class="header-logo"
               tabindex="-1" alt="B.C. Government Logo"
               src="{% static "img/bc-logo.svg" %}">
        </a>
        <span class="title" role="banner">{{ title }}</span>
      </div>
    </header>

    <main class="container page-content">
    <div class="row">
        <div class="col-sm-10 col-sm-push-1">
            <h2>{{ description }}</h2>
            <p>{{ explanation }}</p>

            {% for form in forms %}
                <form action="{{ form.action|default:"/submit_claim" }}" method="{{ form.method|default:"post" }}" accept-charset="utf-8" name="{{ form.name }}" class="form well {{ form.class }}">
                <fieldset>
                    <legend>{{ form.title }}</legend>
                    {% for input in form.hidden %}
                        <input type="hidden" name="{{ input.name }}" value="{{ input.value }}">
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-8">
                            {% for input in form.inputs %}
                            <div class="form-group">
                                {% if input.required %}
                                    <label class="control-label required" for="{{ input.name }}-input"><span class="field-name">{{ input.pretty }}</span> <span class="required">(required)</span></label>
                                {% else %}
                                    <label class="control-label" for="{{ input.name }}-input"><span class="field-name">{{ input.pretty }}</span></label>
                                {% endif %}
                                {% if input.type == "select" %}
                                    <select
                                        class="form-control"
                                        name="{{ input.name }}"
                                        id="{{ input.name }}-input"
                                        {% if input.multiple %}multiple{% endif %}
                                        {% if input.required %}required{% endif %}
                                        {% if input.disabled %}disabled{% endif %}>
                                        {% for option in input.options %}
                                            <option value="{{ option }}">
                                                {{ option }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% elif input.type == "checkbox" or input.type == "radio" %}
                                    <div class="{{ input.type }}">
                                        <input
                                            name="{{ input.name }}"
                                            type="{{ input.type }}"
                                            id="{{ input.name }}-input"
                                            {% if input.checked %}checked{% endif %}
                                            {% if input.disabled %}disabled{% endif %}
                                        ><label for="{{ input.name }}-input">{{ input.text }}</label>
                                    </div>
                                {% elif input.type == "textarea" %}
                                    <textarea
                                        name="{{ input.name }}"
                                        type="{{ input.type }}"
                                        id="{{ input.name }}-input"
                                        {% if input.disabled %}disabled{% endif %}
                                        ></textarea>
                                    </div>

                                {% else %}
                                    <input
                                        class="form-control"
                                        type="{{ input.type }}"
                                        name="{{ input.name }}"
                                        size="{{ input.size }}"
                                        id="{{ input.name }}-input"
                                        {% if input.required %}required{% endif %}
                                        {% if input.disabled %}disabled{% endif %}
                                    >
                                {% endif %}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            {% endfor %}
        </div>
    </div>
    </main>

    <footer>
      <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/content/home/contact-us"
                   target="_blank">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </footer>
</body>
</html>

