ul {
  list-style-type: none;
}

.workflow-node {
  min-width: 400px;
}

.depends h4,
.depends li {
  font-size: 1rem;
}

.depends-item {
  margin-left: -30px;
}

.cert-panel-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
