<div class="workflow-node card"
  [ngClass]="{
    'card-default': isStart,
    'card-success': obtainedCert,
    'card-warning': allDepsSatisfied && !obtainedCert,
    'card-danger': !allDepsSatisfied
  }">
    <div class="card-header">

      <h6 class="my-0 mr-2 font-italic float-left">{{ step.name }}</h6>

      <span>
        <!-- RouterLink and target are used so that teh link will work also when in development mode -->
        <a *ngIf="step.effectiveDate" class="icon-link" target="{{isDevMode ? '_self' : '_blank'}}" [routerLink]="['/topic', step.topicId, 'cred', step.credentialId]">
          <i class="fa fa-lg fa-id-card float-right"></i>
        </a>

        <a *ngIf="(isStart || allDepsSatisfied) && !obtainedCert"  class="icon-link" target="_self" href="{{actionURL}}">
          <i class="fa fa-lg fa-plus-square float-right"></i>
        </a>

      </span>

    </div>

    <div class="card-body">

      <div>
        <span class="mx-1 font-weight-bold">Issuer:</span>
        <span class="mx-1">
          <a rel="external" href="{{step.issuer.url}}">
            {{ step.issuer.name }} <small><i class="fa fa-external-link"></i></small>
          </a>
        </span>
      </div>

    </div>
</div>
