<footer class="footer mt-2">
  <nav class="navbar navbar-expand-md navbar-dark w-100">
    <!-- Navbar content -->
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" tabindex="0" [routerLink]="['/home']" translate>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank" translate>Disclaimer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank" translate>Privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank" translate>Accessibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank" translate>Copyright</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/contact-us"
               target="_blank" translate>Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
