.page-content {
	padding-bottom: 8rem;
}
.form {
	margin-top: 2rem;
}
.form + .form {
	margin-top: 4rem;
}

.control-label.required::before {
	content: '*';
	color: #b33;
	display: inline-block;
	position: relative;
	left: -.5em;
	width: .2em;
}

.legal-entity-id {
  margin-top: 2rem;
}

.form-field + .form-field {
	margin-top: 0.8rem;
}

.btn.loading {
  background-color: #ddd;
  border-color: #bbb;
  color: #666;
  cursor: wait;
  overflow: hidden;
  position: relative;
  text-shadow:0 2px 2px #fff;
}
.btn.loading::before {
  animation: loading 1s linear infinite;
  background-color: #2980b9;
  background: linear-gradient(to right, #ddd, #2980b9, #ddd);
  bottom: 0;
  content: "";
  height: 2px;
  left: -100%;
  position: absolute;
  width: 50%;
}

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

