<section id="home-hero" class="hero-banner">

  <div class="container my-md-3">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title" id="contentStart" tabindex="-1" translate>GreenLight</h1>

        <p class="lead">
        Streamlining your permit and licensing experience.
        </p>
      </div>
    </div>

  </div>

</section>

<section id="home-body" class="container">

    <div class="container my-4 mt-md-3">
      <p class="text-center" style="color: red">GreenLight is a demonstration of the potential of trusted digital credentials,
        showing how government services might independently automate their permit and licensing application process based on better data, while at the
        same time simplifying cross-jurisdictional processes for businesses.
      </p>
      <p class="text-justify">
      This new service is a <span class="font-italic">decentralized workflow</span> application - a mapping tool - that helps you navigate the
      sometimes tricky license and permit process. It uses cutting-edge blockchain technology to show you not only the steps to getting your permit or license,
      but more importantly, the interdependencies that might be involved. Using a colour-coded flow diagram, GreenLight helps you build up the credentials
      you need to get the "green light" to operate!
      </p>

      <p>Let's get started!</p>


      <div class="form-group">
        <label class="control-label" for="credPicker">What permit or license do you need?</label>
        <ng-select [(ngModel)]="selectedCred">
          <ng-option *ngFor="let cred of availableCreds" [value]="cred">
            {{ cred.issuer.name }} - {{ cred.schema.name }}:{{cred.schema.version}}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="error">Please pick an issuer/schema combination to proceed.</div>
      </div>

      <div class="form-group">
        <label class="col-form-label control-label">What is the name of your corporation/legal entity (if applicable)?*</label>
        <search-input #searchInput (accepted)="performSearch($event)"></search-input>
        <span>
          <small>
              * This field is optional. If your business is new, leave this blank and use GreenLight to register it.
          </small>
        </span>
      </div>

      <div class="row my-4">
        <div class="col"><!--Layout Placeholder--></div>
        <div class="col">
          <button class="btn btn-primary float-right" type="button" (click)="begin()">Begin</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <p class="fun-facts p-2 rounded">
              <span class="font-weight-bold">DID YOU KNOW:</span> GreenLight credential issuers simplify
              access to permits and licences for more than 400,000 registered corporations in British Columbia. By joining
              GreenLight, issuers get access to better data, faster, while making it easier for the businesses they serve
              to get permits and licenses. Everybody wins!
            </p>
        </div>
        <div class="col-8"><!--Layout Placeholder--></div>
      </div>
    </div>

</section>
