<div class="container">
  <h1 class="roadmap-title">Permitify Demo - Starting a Restaurant Recipe</h1>

  <div class="roadmap-tree mrgn-tp-lg mrgn-bttm-lg">
    <div class="tree-outer">
      <div class="tree-level">
        <div class="tree-column">
          <div class="tree-row">
            <div class="tree-node">
              <div class="tree-node-body">
                <div class="tree-node-content">BC Registries Business Incorporation</div>
              </div>
              <div>
                <div class="tree-outer">
                  <div class="tree-level">
                    <div class="tree-column">
                      <div class="tree-row">
                        <div class="tree-node">
                          <div class="tree-node-arrows">
                            <div class="tree-node-arrow">
                              <span class="fa fa-arrow-down arrow-vertical"></span>
                              <span class="fa fa-arrow-right arrow-horizontal"></span>
                            </div>
                          </div>
                          <div class="tree-node-body">
                            <div class="tree-node-content">BC Provincial Sales Tax Number</div>
                          </div>
                          <div>
                            <div class="tree-outer"></div>
                          </div>
                        </div>
                        <div class="tree-node">
                          <div class="tree-node-arrows">
                            <div class="tree-node-arrow">
                              <span class="fa fa-arrow-down arrow-vertical"></span>
                              <span class="fa fa-arrow-right arrow-horizontal"></span>
                            </div>
                          </div>
                          <div class="tree-node-body">
                            <div class="tree-node-content">Worksafe BC Clearance Letter</div>
                          </div>
                          <div>
                            <div class="tree-outer">
                              <div class="tree-level">
                                <div class="tree-column">
                                  <div class="tree-row">
                                    <div class="tree-node">
                                      <div class="tree-node-arrows">
                                        <div class="tree-node-arrow">
                                          <span class="fa fa-arrow-down arrow-vertical"></span>
                                          <span class="fa fa-arrow-right arrow-horizontal"></span>
                                        </div>
                                      </div>
                                      <div class="tree-node-body">
                                        <div class="tree-node-content">
                                          Fraser Valley Health Operating Permit
                                        </div>
                                      </div>
                                      <div>
                                        <div class="tree-outer"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tree-level">
                    <div class="tree-column">
                      <div class="tree-row">
                        <div class="tree-node">
                          <div class="tree-node-arrows">
                            <div class="tree-node-arrow">
                              <span class="fa fa-arrow-down arrow-vertical"></span>
                              <span class="fa fa-arrow-right arrow-horizontal"></span>
                            </div>
                            <div class="tree-node-arrow">
                              <span class="fa fa-arrow-down arrow-vertical"></span>
                              <span class="fa fa-arrow-right arrow-horizontal"></span>
                            </div>
                          </div>
                          <div class="tree-node-body">
                            <div class="tree-node-content">BC Liquor License</div>
                          </div>
                          <div>
                            <div class="tree-outer">
                              <div class="tree-level">
                                <div class="tree-column">
                                  <div class="tree-row">
                                    <div class="tree-node">
                                      <div class="tree-node-arrows">
                                        <div class="tree-node-arrow">
                                          <span class="fa fa-arrow-down arrow-vertical"></span>
                                          <span class="fa fa-arrow-right arrow-horizontal"></span>
                                        </div>
                                      </div>
                                      <div class="tree-node-body">
                                        <div class="tree-node-content">
                                          City of Surrey Business License
                                        </div>
                                      </div>
                                      <div>
                                        <div class="tree-outer"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
