.roadmap-title {
  font-size: 28px;
  font-weight: 500;
  color: #036;
  text-align: center;
}
svg {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}


// Graph styles
.node rect,
.node circle,
.node ellipse {
  stroke: #fff;
  fill: #fff;
  stroke-width: 1px;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}
