<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ page_title|default(title) }}{% endblock %}</title>
    {% block includes %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="{{ static("js/main.js") }}"></script>
    {% for include in js_includes %}
    <script src="{{ static(include.src) }}"></script>
    {% endfor %}
    <link rel="shortcut icon" href="{{ static("img/bc-logo.ico") }}">
    <link rel="stylesheet" href="{{ static("css/mygovbc-bootstrap-theme.min.css") }}">
    <link rel="stylesheet" href="{{ static("css/bcgov.css") }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" type="text/javascript" charset="utf-8"
        async defer></script>
    <script type="text/javascript">
        THE_ORG_BOOK_APP_URL = '{{ THE_ORG_BOOK_APP_URL }}'
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.4/jquery.typeahead.js"></script>
    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.4/jquery.typeahead.css" -->
    {% for include in css_includes %}
    <link rel="stylesheet" href="{{ static(include.src) }}">
    {% endfor %}
    {% endblock %}
    {% block extrahead %}{% endblock %}
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <div class="container">
            <a href="http://www2.gov.bc.ca/" tabindex="-1">
                <img class="header-logo" tabindex="-1" alt="B.C. Government Logo" src="{{ static("img/bc-logo.svg") }}">
            </a>
            <span class="title" role="banner">{{ page_title|default(title) }}</span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <main class="container page-content">
        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <h2>{{ description }}</h2>
                <p>{{ explanation }}</p>

                {% include "bootstrap.form.html" %}
            </div>
            {% if proof_response %}
            {% if proof_response.success == True %}
            <div class="col-sm-10 col-sm-push-1">
                <div class="row margin-lg">
                    <div class="col-sm-10 col-sm-push-1">
                        <div class="panel panel-success padding-md">
                            <h3>Cryptographically verified:</h3>
                            <p>
                                <pre>{{ proof_response.verified }}</pre>
                            </p>
                            <h3>Available claim data:</h3>
                            <p>
                                <pre>{{ proof_response.parsed_proof | jsonify }}</pre>
                            </p>
                            <h3>Received proof from TheOrgBook:</h3>
                            <p>
                                <pre>{{ proof_response.proof | jsonify }}</pre>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-sm-10 col-sm-push-1">
                <div class="row margin-lg">
                    <div class="col-sm-10 col-sm-push-1">
                        <div class="panel panel-danger padding-md">
                            <h3>
                                Unable to proceed based on the information available about this Legal Entity. Proof of
                                the prerequisite permits/licenses must be available to continue this process.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/home/contact-us" target="_blank">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    {% endblock %}
</body>

</html>